<main class="main">
  <h1>Elige la sección</h1>
  <article class="grid">
    <article class="section" [routerLink]="['/nodes']">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Nodos</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse
            lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
        </div>
      </div>
    </article>
    <article class="section" [routerLink]="['/relationships']">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Relaciones</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse
            lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
        </div>
      </div>
    </article>
    <article class="section" [routerLink]="['/multiLabel']">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Nodos multi-etiqueta</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse
            lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
        </div>
      </div>
    </article>
  </article>
</main>