<main class="main">
  <h1>Choose the section</h1>
  <article class="grid">
    <article class="section" [routerLink]="['/nodes']">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Nodes</h5>
          <p class="card-text">
            <img src="assets/nodes.png" alt="Nodes" class="img-fluid">
          </p>
        </div>
      </div>
    </article>
    <article class="section" [routerLink]="['/relationships']">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Relationships</h5>
          <p class="card-text">
            <img src="assets/relationships.png" alt="Relationships" class="img-fluid">
          </p>
        </div>
      </div>
    </article>
    <article class="section" [routerLink]="['/multiLabel']">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Multi-label nodes</h5>
          <p class="card-text">
            <img src="assets/multinodes.png" alt="Multi-label nodes" class="img-fluid">
          </p>
        </div>
      </div>
    </article>
  </article>
</main>